<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body {
            display: flex;
            flex-direction:row;
            align-content:space-between;
            flex-wrap: wrap;
            justify-content:space-between;
        }
        .box {
            width: 200px;
            height: 200px;
            border:1px solid #cc2000;
        }
    </style>
</head>
<body>
<a class="box"></a>
<a class="box"></a>
<a class="box"></a>
</body>
</html>